* {
    margin: 0%;
}

body {
    background: lightblue;
}

html {
    scroll-behavior: smooth;
}

.navegador {
    position: fixed;
    margin-left: 30%;
    margin-right: 30%;
    justify-content: center;
    background-color: #0000005b;
    padding: 10px 30px;
    border-radius: 10px;
    border-bottom: solid 2px rgb(255, 255, 255);

}

.navegador a {
    transition: font-size 0.3s ease;
    display: inline-block;
    white-space: nowrap;
}

.navegador a:hover {
    font-size: 20px;
    border-bottom: solid 2px rgb(255, 0, 0);
}

.navegador ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;

}

.navegador li {
    text-decoration: none;
    font-weight: bold;
    opacity: 0;
    animation: abajo-hacia-arriba 4s ease forwards;
    color: rgb(255, 0, 0);

}


@keyframes abajo-hacia-arriba {
    from {
        opacity: 0;
        transform: translatey(20px);
    }

    to {
        opacity: 1;
        transform: translatex(0px);
    }
}

.navegador li:nth-child(1) {
    animation-delay: 0s;
}

.navegador li:nth-child(2) {
    animation-delay: 0.5s;
}

.navegador li:nth-child(3) {
    animation-delay: 1s;
}

.navegador li:nth-child(4) {
    animation-delay: 1.5s;
}

.navegador a {
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: none;
    text-transform: none;
    transition: 0.25s ease;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navegador ul,
li {
    text-decoration: none;
    margin: 0 0.75em 0 0.75em;
}

ul:hover a {
    color: #575757
}

ul:hover a:hover {
    color: #ff0000;
    box-shadow: 0 2px 0 0 currentColor;
}

.info {
    height: 750px;
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.397)), url(/img/fon3.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.imagen {
    width: 450px;
    height: 350px;
    margin-top: 170px;
    margin-right: 110px;
    animation: imagenarriba 4s ease forwards;
}

@keyframes imagenarriba {
    from {
        opacity: 0;
        transform: translatey(100px);
    }

    to {
        opacity: 1;
        transform: translatex(0px);
    }
}

.txt {
    margin-top: 250px;
    font-family: cursive;
    animation: subirt 2s ease forwards;
    height: 200px;
}

.txt h1 {
    color: white;
    width: 20ch;
    margin-left: 600px;
}

.txt p {
    margin-right: 100px;
    color: white;
    margin-left: 480px;
    width: 600px;
    font-size: 15px;
    text-align: center;
}

.txt button {
    margin-top: 50px;
    margin-left: 750px;
    height: 35px;
    background-color: red;
    color: white;
    border: solid rgb(255, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    animation: flotar 3s ease-in-out infinite;
    ;
}

@keyframes flotar {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}


.txt b {
    width: 180px;
    text-wrap: nowrap;
    font-size: 30px;
    margin-left: 10px;
    overflow: hidden;
    animation: typing 3s steps(25) infinite alternate-reverse;
    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    border-right: solid 2px white;
}

@keyframes typing {
    from {
        width: 0ch;
    }
}


@keyframes subirt {
    from {
        opacity: 0;
        transform: translatey(100px);
    }

    to {
        opacity: 1;
        transform: translatex(0px);
    }
}

.estudios {
    display: flex;
    height: 0px;
    justify-content: center;
    width: 190ch;
    box-shadow: 20px 20px 10px gray;
    animation: slider 10s linear infinite;
    gap: 40px;
    box-shadow: 1px 1px 30px rgb(0, 58, 124);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}



#boton1 {
    position: relative;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    color: #000000;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

#boton1:hover {
    color: rgb(0, 0, 0);
    box-shadow: 1px 1px 30px red;
}

#boton1:active {
    transform: scale(0.9);
}

.html {
    width: 220px;
    height: 320px;
    background-color: rgba(0, 0, 0, 0.767);
    color: white;
    text-align: center;
    border: solid 3px rgb(3, 40, 110);
    padding: 5px;
    border-radius: 20px;
    margin-top: 250px;
    transition: transform 0.7s;
    animation: apah linear both;
    animation-timeline: view();
    animation-range: entry 5% cover 30%;
    box-shadow: 5px 5px 70px rgb(0, 89, 255);
    animation: card 3s ease-in-out infinite;
}

@keyframes card {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}


.html:hover {
    transform: scale(1.10);
    box-shadow: rgb(255, 255, 255);
    animation-play-state: paused;
}

@keyframes apah {
    from {
        opacity: 0;
        translate: 0 100px;
        scale: .5;
    }

    to {
        opacity: 1;
        translate: 0 0;
        scale: 1;
    }
}

.html button {

    width: 100px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.153);
    color: black;
    cursor: pointer;
}

.imghtml {
    width: 250px;
    height: 120px;
    margin-top: 15px;
    margin-right: 80px;

}

.css {
    width: 220px;
    height: 320px;
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
    margin-left: 10px;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    margin-top: 250px;
    transition: transform 0.7s;
    animation: apac linear both;
    animation-timeline: view();
    animation-range: entry 5% cover 30%;
    box-shadow: 0px 0px 50px rgb(0, 89, 255);
    animation: card1 3s ease-in-out infinite;
}

@keyframes card1 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}


.css:hover {
    transform: scale(1.10);
    box-shadow: rgb(255, 255, 255);
    animation-play-state: paused;
}

@keyframes apac {
    from {
        opacity: 0;
        translate: 0 100px;
        scale: .5;
    }

    to {
        opacity: 1;
        translate: 0 0;
        scale: 1;
    }
}

.css button {
    width: 100px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.153);
    color: black;
    cursor: pointer;
}

.cssimg {
    width: 150px;
    height: 120px;
    margin-top: 20px;
}

.js {
    width: 220px;
    height: 320px;
    background-color: rgba(0, 0, 0, 0.758);
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 250px;
    transition: transform 0.7s;
    animation: apaj linear both;
    animation-timeline: view();
    animation-range: entry 5% cover 30%;
    box-shadow: 0px 0px 50px rgb(0, 89, 255);
    animation: card2 3s ease-in-out infinite;
}

@keyframes card2 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}


.js:hover {
    transform: scale(1.10);
    box-shadow: rgb(255, 255, 255);
    animation-play-state: paused;
}

@keyframes apaj {
    from {
        opacity: 0;
        translate: 0 100px;
        scale: .5;
    }

    to {
        opacity: 1;
        translate: 0 0;
        scale: 1;
    }
}

.js button {
    width: 100px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.153);
    color: black;
    cursor: pointer;
}

.jsimg {
    width: 200px;
    height: 120px;
    margin-top: 20px;
}

.sql {
    width: 220px;
    height: 320px;
    background-color: rgba(0, 0, 0, 0.752);
    color: white;
    margin-left: 10px;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    margin-top: 250px;
    transition: transform 0.7s;
    animation: apaq linear both;
    animation-timeline: view();
    animation-range: entry 5% cover 30%;
    box-shadow: 0px 0px 40px rgb(0, 89, 255);
    animation: card3 3s ease-in-out infinite;
}

@keyframes card3 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}


.sql:hover {
    transform: scale(1.10);
    box-shadow: rgb(255, 255, 255);
    animation-play-state: paused;
}

@keyframes apaq {
    from {
        opacity: 0;
        translate: 0 100px;
        scale: .5;
    }

    to {
        opacity: 1;
        translate: 0 0;
        scale: 1;
    }
}

.imagensql {
    width: 200px;
    height: 110px;
}

.sql button {
    width: 90px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.229);
    cursor: pointer;
}

.java {
    width: 220px;
    height: 320px;
    background-color: rgba(0, 0, 0, 0.745);
    color: white;
    margin-left: 10px;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    margin-top: 250px;
    transition: transform 0.7s;
    animation: apal linear both;
    animation-timeline: view();
    animation-range: entry 5% cover 30%;
    box-shadow: 0px 0px 50px rgb(0, 89, 255);
    animation: card4 3s ease-in-out infinite;
}

@keyframes card4 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}


.java:hover {
    transform: scale(1.10);
    box-shadow: rgb(255, 255, 255);
    animation-play-state: paused;
}

@keyframes apal {
    from {
        opacity: 0;
        translate: 0 100px;
        scale: .5;
    }

    to {
        opacity: 1;
        translate: 0 0;
        scale: 1;
    }
}

.imgjava {
    width: 170px;
    height: 100px;
}

.java button {
    width: 90px;
    height: 30px;
    background-color: rgba(255, 0, 0, 0.229);
    cursor: pointer;
}

.container {
    position: relative;
    width: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
}

.card {
    position: relative;
    max-width: 250px;
    height: 200px;
    padding: 20px 15px;
    margin-top: 250px;
    margin-bottom: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0, 0, 0, 0, 5);
    transition: 0.3s ease-in-out;
    font-family: cursive;
    cursor: pointer;
    filter: drop-shadow(1px 1px 30px rgb(0, 44, 119));
    animation: flotar-i 3s ease-in-out infinite;
    ;
}

@keyframes flotar-i {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0);
    }
}


.container .card:hover {
    height: 550px;
    border: solid 2px rgb(0, 27, 96);
    box-shadow: 1px 1px 30px rgb(0, 0, 104);
    animation-play-state: paused;
}

.imgBx {
    position: relative;
    width: 260px;
    height: 260px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0, 5);
}

.imgBx img {
    max-width: 100%;
    border-radius: 4px;
}

.content {
    position: relative;
    text-align: center;
    color: #ffffff;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container .card:hover .content {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.3s;
}

.imgBx img {
    width: 230px;
    margin-left: 20px;
}

.containert {
    display: flex;
    gap: 50px;
    background-color: black;
    height: 600px;
}

.imgt1 {
    background-color: rgba(255, 255, 255, 0.566);
    width: 250px;
    height: 400px;
    transform: rotate(10deg);
    box-shadow: 1px 1px 30px rgb(0, 28, 104);
    margin-left: 40px;
    transition: all 0.5s ease;
    opacity: .4;
    filter: blur(4px);
}


.imgt1:hover {
    opacity: 1;
    filter: blur(0px);
    transform: rotate(0deg);
}

.imgt1 h2 {
    text-align: center;
    font-family:cursive;
}

.imgt1 p {
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    margin-top: 25px;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.imgt2 {
    background-color: rgba(255, 255, 255, 0.585);
    width: 250px;
    height: 400px;
    transform: rotate(-5deg);
    box-shadow: 1px 1px 30px rgb(0, 28, 104);
    transition: all 0.5s ease;
    opacity: .4;
    filter: blur(4px);
}

.imgt2 h2 {
    text-align: center;
    font-family: cursive;
}

.imgt2 p {
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    margin-top: 25px;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.imgt2:hover {
    opacity: 1;
    filter: blur(0px);
    transform: rotate(0deg);
}

.imgt3 {
    background-color: rgba(255, 255, 255, 0.484);
    width: 250px;
    height: 400px;
    transform: rotate(3deg);
    box-shadow: 1px 1px 30px rgb(0, 28, 104);
    transition: all 0.5s ease;
    opacity: .4;
    filter: blur(4px);
}

.imgt3 h2 {
    text-align: center;
    font-family: cursive;
}

.imgt3 p {
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    margin-top: 15px;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.imgt3:hover {
    opacity: 1;
    filter: blur(0px);
    transform: rotate(0deg);
}

.imgt4 {
    background-color: rgba(255, 255, 255, 0.415);
    width: 250px;
    height: 400px;
    transform: rotate(10deg);
    box-shadow: 1px 1px 30px rgb(0, 28, 104);
    transition: all 0.5s ease;
    opacity: .4;
    filter: blur(4px);
}

.imgt4 h2 {
    text-align: center;
    font-family: cursive;
}

.imgt4 p {
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    margin-top: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.imgt4:hover {
    opacity: 1;
    filter: blur(0px);
    transform: rotate(0deg);
}

.imgt5 {
    background-color: rgba(255, 255, 255, 0.374);
    width: 250px;
    height: 400px;
    transform: rotate(-5deg);
    box-shadow: 1px 1px 30px rgb(0, 28, 104);
    transition: all 0.5s ease;
    opacity: .4;
    filter: blur(4px);
}

.imgt5 h2 {
    text-align: center;
    font-family: cursive;
}

.imgt5 p {
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    margin-top: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.imgt5:hover {
    opacity: 1;
    filter: blur(0px);
    transform: rotate(0deg);
}

.imgt1 img {
    height: 150px;
    margin-left: 25px;
    width: 200px;
    padding-top: 30px;

}

.imgt2 img {
    height: 170px;
    width: 200px;
    margin-left: 25px;
    margin-top: 20px;

}

.imgt3 img {
    height: 170px;
    width: 200px;
    margin-left: 25px;
    margin-top: 20px;
}

.imgt4 img {
    height: 130px;
    width: 180px;
    margin-left: 35px;
    margin-top: 20px;
}

.imgt5 img {
    height: 170px;
    width: 200px;
    margin-left: 25px;
    margin-top: 20px;
}

.carde {
    margin-top: 300px;
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #00000090;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-repeat: no-repeat;
  
}

.carded {
    background-color: black;
    display: flex;
    gap: 50px;
    background: linear-gradient(black,rgb(0, 44, 140),black);
}

#mysqlid {
    margin-top: 600px;
    margin-left: 450px;
}

#javaid {
    margin-top: 600px;
}

.carde img {
    height: 150px;
    width: 200px;
}

.carde:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #000000;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  text-align: center;
}

.card__content button {
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 4px;
    height: 30px;
    width: 70px;
    margin-top: 30px;
    margin-right: 5px;
    cursor: pointer;
    border: solid 1px white;
}

.carde:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #ffffff;
  font-weight: 700;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #ffffff;
  line-height: 1.4;
}

.footer {
    background-color: black;
    height: 400px;
    display: flex;
    color: white;

}

.footer h2 {
    margin-left: 250px;
    font-family: 'Times New Roman', Times, serif;
}

.footer ul {
    margin-top: 50px;
    margin-left: 200px;
}