body {
    background: linear-gradient(black, rgb(245, 124, 3), black);
}

.video h1 {
    text-align: center;
    color: white;
}

.video iframe {
    margin-top: 10px;
    height: 500px;
    width: 1000px;
}

.video p {
    text-align: end;

}

.txt {
    background-color: white;
    color: black;
    width: 700px;
}

.video {
    height: 1000px;

}

#boton {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 100px;
    height: 40px;
    width: 150px;
    margin-top: 20px;
    cursor: pointer;
}

.video img {
    justify-items: start;
    height: 20px;
}

.video img:hover {
    transform: scale(1.2);
}

details {
    margin-top: 20px;
    margin-left: 400px;
    width: 100px;
}

summary {
    font-size: 18px;
    padding: 10px 20px;
    width: 200px;
    background-color: #000000;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    user-select: none;
    list-style: none;
    text-align: center;
    
}




