body {
  background-color: #10110f;
  color: white;
  font-family: 'Roboto', sans-serif;
  background-image: url(/img/paisaje.avif);
  background-repeat: no-repeat;
  background-size: cover;
}

#image {
  filter: blur(4px);
}

.formulario {
  border-radius: 10px;
  background-color: #ffffff5b;
  width: 500px;
  margin-left: 450px;
  height: 550px;
  margin-top: 50px;
}

h1 {
  justify-content: center;
  text-align: center;
  margin: 50px 20px;
  padding: 80px;
}

.username {
  justify-content: center;
  text-align: center;
  margin: 10px 20px;
  padding: 10px;
}

.contra {
  justify-content: center;
  text-align: center;
  margin: 10px 20px;
  padding: 10px;
}

button {
  margin-left: 200px;
  text-align: center;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;  
  border: solid 2px black;
}

button:hover {
  background-color: #074bb5;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.olvidar {
  justify-content: center;
  align-items: center;
  color: rgb(0, 102, 255);
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  border-radius: 10px;
  margin: 200px auto;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.campo {
  position: relative;
  width: 100%;
  margin: 20px 0;
}

.campo input {
  width: 330px;
  padding: 14px 12px 6px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  background-color: #ffffff54;
  border: solid 1px white;
  margin-left: 70px;
  outline: none;
}

.campo label {
  position: absolute;
  top: 14px;
  left:79px;
  color: #000000;
  font-size: 16px;
  pointer-events: none;
  transition: 0.2s ease all;
}

.campo input:focus+label,
.campo input:not(:placeholder-shown)+label {
  top: -10px;
  font-size: 12px;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  padding: 0 4px;
}

